<section class="section quiz">
  <img class="sanofiLogo" src="../../assets/img/SanofiGenzyme_Logo.svg">
 <a routerLink="/splash" class="close"><img src="../../assets/img/Close_X.svg"></a>
  <div *ngIf="!seeScore">
    <div class="quiz" *ngIf="!answered">
      <small>{{question.id}}/6</small>
      <div class="content">
        <p *ngIf="question.id === 1">{{ 'quiz.q1' | translate }}</p>
        <p *ngIf="question.id === 2">{{ 'quiz.q2' | translate }}</p>
        <p *ngIf="question.id === 3">{{ 'quiz.q3' | translate }}</p>
        <p *ngIf="question.id === 4">{{ 'quiz.q4' | translate }}</p>
        <p *ngIf="question.id === 5">{{ 'quiz.q5' | translate }}</p>
        <p *ngIf="question.id === 6">{{ 'quiz.q6' | translate }}</p>

        <div class="answers">
          <button (click)="checkAnswer(true)">{{ 'quiz.true' | translate }}</button>
          <button (click)="checkAnswer(false)">{{ 'quiz.false' | translate }}</button>
        </div>
      </div>
      <img *ngIf="question.id !== 1" src="../../assets/img/questions/{{question.id -1}}.png">
    </div>

    <div class="quiz answered" *ngIf="answered">
      <div class="content">
        <p class="answer" *ngIf="question.answer">{{ 'quiz.true' | translate }}</p>
        <p class="answer" *ngIf="!question.answer">{{ 'quiz.false' | translate }}</p>
        <p *ngIf="question.id === 2">{{ 'quiz.q2e' | translate }}</p>
        <p *ngIf="question.id === 6">{{ 'quiz.q6e' | translate }}</p>

        <button *ngIf="question.id !== 6" (click)="next()">{{ 'quiz.next' | translate }}</button>
        <button *ngIf="question.id === 6" (click)="next()">{{ 'quiz.score' | translate }}</button>
      </div>

      <img src="../../assets/img/questions/{{question.id}}.png">
    </div>
  </div>

  <div *ngIf="seeScore">
    <div class="answer winner" *ngIf="score === 6">
      <div class="content">
        <small class="{{currentLanguage}}"><b>{{ 'retro.bonus-title' | translate}}</b></small>
        <h2 class="{{currentLanguage}}">{{ 'retro.bonus-title-big' | translate}}</h2>
        <small class="{{currentLanguage}}">{{ 'retro.bonus-text' | translate}} <b>{{ 'retro.bonus-text2' | translate}}</b></small>

        <a class="button" routerLink="/bonus">{{ 'retro.bonus-button' | translate}}</a>
      </div>

      <img *ngIf="question.id !== 1" src="../../assets/img/questions/7.png">
    </div>

    <div class="answer looser" *ngIf="score !== 6">
      <div class="content">
        <h2>{{ 'retro.almost' | translate}}</h2>
        <p class="{{currentLanguage}}">{{ 'retro.answer1' | translate}} <span>{{score}}</span> {{ 'retro.answer2' | translate}}</p>

        <a class="button" routerLink="/final/false">{{ 'retro.next' | translate}}</a>
      </div>

      <img *ngIf="question.id !== 1" src="../../assets/img/questions/7.png">

    </div>
  </div>

</section>
